<h2 class="section-title no-margin-top"><%= tool.title %></h2>
<div class="row">
    <div class="col-md-4">
      <img src="<%= tool.screenshot %>" class="img-responsive">
    </div>
    <div class="col-md-5">
        <h3 class="no-margin-top">Description</h3>
        <p><%= tool.description %></p>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-ar btn-block btn-success"><i class="fa fa-search"></i> Learn More</a>
        <h3 class="right-line">Related Tools</h3>
        
    </div>
</div>
